:root{
    --primary: #798e82;
    --bg: #C7DEC0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg);
    color: white; 
    min-height: 500px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #2d3c33;
    border-bottom: 1px solid #637f6c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-size: 2rem;
}

.navbar .navbar-logo{
    font-weight: 700;
    color: white;
}

.navbar .navbar-logo span{
    color: var(--primary);
}

.navbar .navbar-nav a{
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    font-weight: 700;
}

.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.logout{
  background: none;
  margin: 0 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.navbar .navbar-extra{
  margin: 0 0.5rem;
  background: none;
}

#hamburger-menu{
    display: none;
}

h1{
    font-size: 22px;
    color: #2d3c33;
    margin-top: 40px;
    margin-left: 500px;
}

.popupAKUN{
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%)scale(1.25);
  width: 370x;
  padding: 20px 30px;
  background: white;
  color:  #2d3c33;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popupAKUN.active{
  margin-top: 395px;
  margin-left: 370px;
  opacity: 1;
  transform: translate(-50%, -50%)scale(1.25);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

ul {list-style-type: none;}
body {font-family: 'Nunito', sans-serif;}

/* Month header */

.kalender{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  font-size: 2rem;
}

.month {
  padding: 50px 25px;
  text-align: center;

  width: 443px;
  height: 556px;
  left: 0;

  background: #425149;
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 7px 0;
  background-color: #425149;
  width: 413px;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #425149;
  width: 413px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: white;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #798e82;
  color: white !important
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white;
    color: #2d3c33;
    width: 716px;
    height: 185px;
    margin-left: 500px;
    margin-bottom: 30px;
    margin-top: 10pxt;
  }

  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white;
    color: #2d3c33;
    width: 716px;
    height: 185px;
    margin-left: 500px;
    margin-top: 10px;
  }

table{
    margin-top: 120px;
}

.peringatan{
    padding-left: 50px;
    color: black;
    font-weight: 600;
}

.denda{
    font-weight: 4600;
    padding-left: 2.5%;
}

.denda1{
    font-weight: 4600;
    margin-left: 5px;
    padding-top: 3%;
    padding-left: 2%;
}

.detail{
  position: absolute;
  width: 180.19px;
  height: 46.87px;
  left: 1008.11px;
  top: 225.94px; 
  border-radius: 30px; 
  background-color: #637f6c;
  color: white;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.detail2{
  position: absolute;
  width: 180.19px;
  height: 46.87px;
  left: 1008.11px;
  top: 460px;
  border-radius: 30px; 
  background-color: #637f6c;
  color: white;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  margin-top: 20px;
}

.popup{
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%)scale(1.25);
  width: 300px;
  padding: 20px 30px;
  background: white;
  color: #2d3c33;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms ;
}

.popup.active{
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%)scale(1.25);
  transition: top 0ms ease-in-out 200ms,
  opacity 200ms ease-in-out 0ms,
  transform 200ms ease-in-out 0ms ;
}

.popup.close-btn{
  position: absolute;
  top: 10px;
  right: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
}

.tutup{
  background-color: #637f6c;
  color: white;
  padding: 2%;
  width: 104px;
  height: 27px;
  border-radius: 30px;
  margin-left: 150px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.tutup a{
  color: white;
}

.tutup1{
  background-color: #637f6c;
  color: white;
  padding: 2%;
  width: 104px;
  height: 27px;
  border-radius: 30px;
  margin-left: 250px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.data{
  padding: 2%;
}

.foto-profil{
  width: 41px;
  border-radius: 50px;
}

.pp{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-right: 12px;
  left: 1095.41px;
  top: 58.46px;
}

.PROFIL{
  width: 60px;
  height: 60px;
  border-radius: 50px;
}